.CorpoContato{
    width: 100%;
    height: 600px;
    display: table;
    padding: 100px 0; 
    background-image: url(../../img/fundo2.jpeg) ;
    background-position: 30% 45%;
    background-size: cover;
}
.carrosel{
    display: table-cell;

}
.carrosel figure{
    background-color: rgb(41, 120, 131);
    margin-top: -9%;
    opacity: 0.10;
    height: 700px;
    
}
.carrosel h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif   ;
   font-size: 30px;
   text-align: center;
    color: black;
    
}
.carrosel p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif   ;
    font-size: 16px;
    text-align: center;
    color: black;
}




/* img{
    background-color: red;
    width: 600px;
    height: 400px;
}
 */

