.CorpoContato{
    width: 100%;
    height: 600px;
    display: table;
    padding: 100px 0; 
    background-image: url(../../img/fundo2.jpeg) ;
    background-position: 30% 45%;
    background-size: cover;
}
.carrosel{
    display: table-cell;
}
.carrosel h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif   ;
   font-size: 40px;
   text-align: center;
    color: rgb(219, 223, 15);
    
}
.carrosel p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif   ;
    font-size: 20px;
    text-align: justify;
    color: rgb(219, 223, 15);
}


.carrosel figure{
    background-color: rgb(41, 120, 131);
    opacity: 0.30;
    height: 600px;
}

/* img{
    background-color: red;
    width: 600px;
    height: 400px;
}
 */

